node_modules/
.env
playwright-report/
test-results/
blob-report/

*.tsbuildinfo
*.log
npm-debug.log*

.DS_Store
Thumbs.db
.idea/

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
